{% extends 'base.html' %}
{% block title %} Sign Up {% endblock title %}

{% block content %}

    <form action="" class="bg-warning rounded mt-4 p-5" method="POST">
        
        <h1 class="text-center">Sign Up</h1>

        {{ form.csrf_token }}

        {{ form.email.label }}
        {{ form.email(class='form-control', placeholder='Enter Email') }}

        {{ form.username.label }}
        {{ form.username(class='form-control', placeholder='Enter Username') }}

        {{ form.password.label }}
        {{ form.password(class='form-control', placeholder='Enter Password') }}

        {{ form.confirm_pass.label }}
        {{ form.confirm_pass(class='form-control', placeholder='Confirm Password') }}

        {{ form.submit(class='btn btn-dark w-100 mt-3') }}

    </form>

{% endblock content %}